Debug
*.o
*.lo
*.user
*.suo
*.ncb
/bindings/csharp/Release
/tinyDAV/Release
/tinySIGCOMP/Release
/tinyBFCP/Release
/tinyMSRP/Release
/tinyHTTP/Release
/tinyMEDIA/Release
/tinyNET/Release
/tinySAK/Release
/plugins/pluginWinMF/Release
/tinySIP/Release
/tinySMS/Release
/tinyIPSec/Release
/tinySDP/Release
/tinyRTP/Release
/tinyXCAP/Release
*.orig
*.db
*.ipch
*.opendb
bindings/_common/.deps/
bindings/java/android/.deps/
plugins/audio_opensles/.deps/
thirdparties/scripts/ilbc/.deps/
tinyBFCP/src/.deps/
tinyDAV/src/.deps/
tinyDAV/src/audio/.deps/
tinyDAV/src/audio/alsa/.deps/
tinyDAV/src/audio/oss/.deps/
tinyDAV/src/bfcp/.deps/
tinyDAV/src/codecs/amr/.deps/
tinyDAV/src/codecs/bfcp/.deps/
tinyDAV/src/codecs/bv/.deps/
tinyDAV/src/codecs/dtmf/.deps/
tinyDAV/src/codecs/fec/.deps/
tinyDAV/src/codecs/g711/.deps/
tinyDAV/src/codecs/g722/.deps/
tinyDAV/src/codecs/g729/.deps/
tinyDAV/src/codecs/gsm/.deps/
tinyDAV/src/codecs/h261/.deps/
tinyDAV/src/codecs/h263/.deps/
tinyDAV/src/codecs/h264/.deps/
tinyDAV/src/codecs/ilbc/.deps/
tinyDAV/src/codecs/mp4ves/.deps/
tinyDAV/src/codecs/msrp/.deps/
tinyDAV/src/codecs/opus/.deps/
tinyDAV/src/codecs/speex/.deps/
tinyDAV/src/codecs/t140/.deps/
tinyDAV/src/codecs/theora/.deps/
tinyDAV/src/codecs/vpx/.deps/
tinyDAV/src/msrp/.deps/
tinyDAV/src/t140/.deps/
tinyDAV/src/video/.deps/
tinyDAV/src/video/jb/.deps/
tinyDAV/src/video/v4linux/.deps/
tinyHTTP/src/.deps/
tinyHTTP/src/auth/.deps/
tinyHTTP/src/headers/.deps/
tinyHTTP/src/parsers/.deps/
tinyIPSec/src/.deps/
tinyMEDIA/src/.deps/
tinyMEDIA/src/content/.deps/
tinyMSRP/src/.deps/
tinyMSRP/src/headers/.deps/
tinyMSRP/src/parsers/.deps/
tinyMSRP/src/session/.deps/
tinyNET/src/.deps/
tinyNET/src/dhcp/.deps/
tinyNET/src/dhcp6/.deps/
tinyNET/src/dns/.deps/
tinyNET/src/ice/.deps/
tinyNET/src/stun/.deps/
tinyNET/src/tls/.deps/
tinyNET/src/turn/.deps/
tinyRTP/src/.deps/
tinyRTP/src/rtcp/.deps/
tinyRTP/src/rtp/.deps/
tinySAK/src/.deps/
tinySDP/src/.deps/
tinySDP/src/headers/.deps/
tinySDP/src/parsers/.deps/
tinySIGCOMP/src/.deps/
tinySIP/src/.deps/
tinySIP/src/api/.deps/
tinySIP/src/authentication/.deps/
tinySIP/src/dialogs/.deps/
tinySIP/src/headers/.deps/
tinySIP/src/parsers/.deps/
tinySIP/src/sigcomp/.deps/
tinySIP/src/transactions/.deps/
tinySIP/src/transports/.deps/
tinySMS/src/.deps/
tinySMS/src/rpdu/.deps/
tinySMS/src/tpdu/.deps/
tinyXCAP/src/.deps/

bindings/.libs/
bindings/_common/.dirstamp
thirdparties/scripts/ilbc/.libs/
tinyBFCP/.libs/
tinyBFCP/src/.dirstamp
tinyDAV/.libs/
tinyDAV/src/.dirstamp
tinyDAV/src/audio/.dirstamp
tinyDAV/src/audio/alsa/.dirstamp
tinyDAV/src/audio/oss/.dirstamp
tinyDAV/src/bfcp/.dirstamp
tinyDAV/src/codecs/amr/.dirstamp
tinyDAV/src/codecs/bfcp/.dirstamp
tinyDAV/src/codecs/bv/.dirstamp
tinyDAV/src/codecs/dtmf/.dirstamp
tinyDAV/src/codecs/fec/.dirstamp
tinyDAV/src/codecs/g711/.dirstamp
tinyDAV/src/codecs/g722/.dirstamp
tinyDAV/src/codecs/g729/.dirstamp
tinyDAV/src/codecs/gsm/.dirstamp
tinyDAV/src/codecs/h261/.dirstamp
tinyDAV/src/codecs/h263/.dirstamp
tinyDAV/src/codecs/h264/.dirstamp
tinyDAV/src/codecs/ilbc/.dirstamp
tinyDAV/src/codecs/mp4ves/.dirstamp
tinyDAV/src/codecs/msrp/.dirstamp
tinyDAV/src/codecs/opus/.dirstamp
tinyDAV/src/codecs/speex/.dirstamp
tinyDAV/src/codecs/t140/.dirstamp
tinyDAV/src/codecs/theora/.dirstamp
tinyDAV/src/codecs/vpx/.dirstamp
tinyDAV/src/msrp/.dirstamp
tinyDAV/src/t140/.dirstamp
tinyDAV/src/video/.dirstamp
tinyDAV/src/video/jb/.dirstamp
tinyDAV/src/video/v4linux/.dirstamp
tinyHTTP/.libs/
tinyHTTP/src/.dirstamp
tinyHTTP/src/auth/.dirstamp
tinyHTTP/src/headers/.dirstamp
tinyHTTP/src/parsers/.dirstamp
tinyIPSec/.libs/
tinyIPSec/src/.dirstamp
tinyMEDIA/.libs/
tinyMEDIA/src/.dirstamp
tinyMEDIA/src/content/.dirstamp
tinyMSRP/.libs/
tinyMSRP/src/.dirstamp
tinyMSRP/src/headers/.dirstamp
tinyMSRP/src/parsers/.dirstamp
tinyMSRP/src/session/.dirstamp
tinyNET/.libs/
tinyNET/src/.dirstamp
tinyNET/src/dhcp/.dirstamp
tinyNET/src/dhcp6/.dirstamp
tinyNET/src/dns/.dirstamp
tinyNET/src/ice/.dirstamp
tinyNET/src/stun/.dirstamp
tinyNET/src/tls/.dirstamp
tinyNET/src/turn/.dirstamp
tinyRTP/.libs/
tinyRTP/src/.dirstamp
tinyRTP/src/rtcp/.dirstamp
tinyRTP/src/rtp/.dirstamp
tinySAK/.libs/
tinySAK/src/.dirstamp
tinySDP/.libs/
tinySDP/src/.dirstamp
tinySDP/src/headers/.dirstamp
tinySDP/src/parsers/.dirstamp
tinySIGCOMP/.libs/
tinySIGCOMP/src/.dirstamp
tinySIP/.libs/
tinySIP/src/.dirstamp
tinySIP/src/api/.dirstamp
tinySIP/src/authentication/.dirstamp
tinySIP/src/dialogs/.dirstamp
tinySIP/src/headers/.dirstamp
tinySIP/src/parsers/.dirstamp
tinySIP/src/sigcomp/.dirstamp
tinySIP/src/transactions/.dirstamp
tinySIP/src/transports/.dirstamp
tinySMS/.libs/
tinySMS/src/.dirstamp
tinySMS/src/rpdu/.dirstamp
tinySMS/src/tpdu/.dirstamp
tinyXCAP/.libs/
tinyXCAP/src/.dirstamp
bindings/*.la
bindings/*.pc
*.pc
tinyBFCP/libtinyBFCP.la
tinyBFCP/tinyBFCP.pc
tinyDAV/libtinyDAV.la
tinyDAV/tinyDAV.pc
tinyHTTP/libtinyHTTP.la
tinyHTTP/tinyHTTP.pc
tinyIPSec/libtinyIPSec.la
tinyIPSec/tinyIPSec.pc
tinyMEDIA/libtinyMEDIA.la
tinyMEDIA/tinyMEDIA.pc
tinyMSRP/libtinyMSRP.la
tinyMSRP/tinyMSRP.pc
tinyNET/libtinyNET.la
tinyNET/tinyNET.pc
tinyRTP/libtinyRTP.la
tinyRTP/tinyRTP.pc
tinySAK/libtinySAK.la
tinySAK/tinySAK.pc
tinySDP/libtinySDP.la
tinySDP/tinySDP.pc
tinySIGCOMP/libtinySIGCOMP.la
tinySIGCOMP/tinySIGCOMP.pc
tinySIP/libtinySIP.la
tinySIP/tinySIP.pc
tinySMS/libtinySMS.la
tinySMS/tinySMS.pc
tinyXCAP/libtinyXCAP.la
tinyXCAP/tinyXCAP.pc
